// ---------- COLORS

$pri-color: #4C4B16;
$sec-color: #898121;
$thi-color: #E7B10A;
$fou-color: #F7F1E5;

// ---------- COMMON VALUES

$header-height: 150px;
$footer-height: 100px;
$navbar-width: 350px;